nvim/.config/nvim/plugged/*
nvim/.config/nvim/.netrwhist
ncmpcpp/.config/ncmpcpp/error.log
scripts/.local/bin/clipmenu
scripts/.local/bin/clipmenud
scripts/.local/bin/epylint
scripts/.local/bin/isort
scripts/.local/bin/networkmanager_dmenu
scripts/.local/bin/pylint
scripts/.local/bin/pyreverse
scripts/.local/bin/symilar
scripts/.local/bin/ueberzug
scripts/.local/bin/yapf
scripts/.local/bin/tor-prompt
zsh/.config/zsh/plugins/*
zsh/.config/zsh/.zcalc_history
zsh/.config/zsh/.zcompdump
