#!/bin/sh

[ -d /bin ] && PATH="$PATH:/bin"
[ -d /usr/bin ] && PATH="$PATH:/usr/bin"
[ -d /sbin ] && PATH="$PATH:/sbin"
[ -d /usr/sbin ] && PATH="$PATH:/usr/sbin"

# gnome keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)
export SSH_AUTH_SOCK

# x settings
setxkbmap -layout us -option caps:escape &
xsetroot -cursor_name left_ptr &
xautolock -time 10 -locker slock_time &
xset m 2/1 4 &
xset mouse 2/1 4 &
xset r rate 350 80 &
xset dpms 600 900 1200 &
sxhkd &
numlockx on &
dunst &
