! hard contrast: *background: #1d2021
! medium contrast: *background: #282828
! soft contrast: *background: #32302f
*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #141616
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! Sxiv settings
Sxiv.background: #1d2021
Sxiv.foreground: #458588
Sxiv.font: Terminus(TTF)-9;

! st settings
st.font:		JetBrains Mono-10
st.borderpx:		8
st.termname:		st-256color
st.cwscale:		0.9
st.chscale:		0.9
st.alpha:		1.0
st.cols:		100
st.rows:		40

! xmenu
xmenu.font:		JetBrains Mono-9
xmenu.borderWidth:	1
xmenu.selbackground:	#b8bb26
xmenu.selforeground:	#1d2021
xmenu.gap:		8
xmenu.height:		22

! Xft settings
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! cursor
Xcursor.size: 18
Xcursor.theme: Neutral
